.api {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 50px 0;
}

.api__card {
    width:  260px;
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-family: monospace;
    font-size: 14px;
    margin-left: 20px;
}